<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDU9UuO8S5gHVuXd8bEr8-Ug26g8MQhNG8</string>
	<key>GCM_SENDER_ID</key>
	<string>884854321706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ordo.gsi</string>
	<key>PROJECT_ID</key>
	<string>ordo-gsi-f1600</string>
	<key>STORAGE_BUCKET</key>
	<string>ordo-gsi-f1600.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884854321706:ios:1f7d1525b22b5189bfc953</string>
</dict>
</plist>